@media (max-width: 1200px) {
    .projects__wrapper {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
    }
}

@media (max-width: 925px) {
    .service__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 30px; 
    }
}
.projects__btn button {
    display: none;
}

@media (max-width: 768px) {
    .navbar__btn button {
        display: none;
    }
    .navbar__collection {
        display: none; 
    }

    .navbar__menu {
        display: block;
    }

    .hero__text h2 {
        font-size: 36px; 
    }

    .hero__text p {
        font-size: 16px; 
    }

    .service__wrapper {
        gap: 20px; 
    }

    .projects__btn button {
        display: none;
    }

    .team__wrapper {
        gap: 20px; 
    }
}

@media (max-width: 739px) {
    .projects__btn {
        display: flex; 
        justify-content: center; 
        width: 100%; 
        margin-top: 20px;
    }

    .service__wrapper {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
    }

    .offering__wrapper {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        gap: 20px; 
    }
    .team__wrapper {
        flex-direction: column; 
        gap: 15px; 
        align-items: center; 
    }
}
.fa-brands {
    font-size: 20px;
    margin-left: 11px;
}


@media (max-width: 480px) {
    .hero__text h2 {
        font-size: 38px; 
        text-align: center; 
    }

    .hero__text p {
        font-size: 18px; 
        text-align: center; 
        padding: 0 10px;
    }

    .projects__btn button {
        display: none;
    }

    .navbar {
        flex-direction: row; 
        padding: 10px; 
        align-items: center; 
    }
    .hero__text {
        text-align: center;
        width: 100%;
        translate: 110px 0px;
    }
    .hero__image img {
        display: none;
    }
    .service__wrapper {
        gap: 10px; 
        flex-direction: column; 
        align-items: center; 
    }

    .offering__card {
        width: 90%; 
        margin: 0 auto; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        padding: 10px; 
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    }

    .offering__card button {
        margin-top: 10px; 
        padding: 10px 20px; 
        font-size: 14px; 
        width: auto; 
        
    }
    .projects__btn {
        display: flex; 
        justify-content: center; 
        width: 100%; 
        margin-top: 20px; 
    }
    
    .projects__btn button {
        padding: 10px 20px; 
        font-size: 14px;
        width: auto; 
        margin: 0; 
    }
    
    .team__wrapper {
        flex-direction: column; 
        gap: 15px; 
        align-items: center; 
    }
}
